.logo {
  > img {
    max-width: 100%;
  }
}

.video-bg {
  background: url('../media/video-bg.png') no-repeat center center fixed;
  width: 100vw;
  height: 100vh;
  z-index: -9;

  .logo {
    > img {
      margin-top: 50px;
    }
    @media (orientation: landscape) {
      > img {
        margin-top: 0;
      }
    }
    @media (min-width: $screen-md-min) {
      > img {
        margin-top: 5px;
      }
    }
  }
}

.play-button {
  cursor: pointer;
  .circle {
      background: transparent;
      border: 3px solid #fff;
      border-radius: 150px;
      width: 70px;
      height: 70px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -25px 0 0 -38px;
  }
  .triangle {
      position: relative;
      height: 100%;
  }
  .triangle:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 17px 0 17px 30px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      top: 40%;
      left: 45%;
      margin: -10px 0 0 -7px;
  }

  &:hover {
    .circle {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;

  iframe {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.close {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.enter-button {
  position: absolute;
  left: 50%;
  top: 85%;
  margin: 0 0 0 -78px;
}
