
.list {
  display: flex;
  justify-content: center;
  max-width: $screen-lg-min;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  &__item {
    display: inline-block;
    position: relative;
    margin: 0 16px;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .link {
      color: #fff;
      font-size: 71px;
      letter-spacing: 4px;
      text-decoration: none;
      text-transform: uppercase;
    }
    &:hover {
      .line {
        width: calc(100% + 20px);
        transition: width .25s ease-out;
      }
    }
    &.active {
      .line {
        width: calc(100% + 20px);
      }
    }

    .line {
      display: inline-block;
      position: absolute;
      left: -12px;
      width: 0;
      border-bottom: 6px solid $red;
      transform: translateY(25px);
      position: absolute;
      transition: width 0s ease-out;
    }
  }
}
