
@import './variables.scss';
@import './components.scss';

//GENERAL
body {
  background: $bg-base;
  font-family: $font-base;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #ddd;
  }
}
