.menu {
  width: 200px;
  float: left;
  margin-top: 0;
  margin-bottom: 30px;
  @media (min-width: $screen-sm-min) {
    margin-top: 30px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  ul > li {
    margin-bottom: 15px;
  }
  ul > li > a, span {
    color: #fff;
    font-size: 18px;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: $font-base;
    text-transform: uppercase;
    padding: 7px 30px 5px;

    &:hover, &.active {
      background-color: #888888;
    }
  }
}

//MAIN
.video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  iframe {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.album {
  width: 350px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;

  iframe {
    @media (min-width: $screen-sm-min) {
      margin-top: 150px;
    }
    height: 500px !important;
  }
}

.shows {
  max-width: 650px;
  margin: auto;

  iframe {
    @media (min-width: $screen-sm-min) {
      margin-top: 150px;
    }
  }
}
