.menu {
  max-width: 100%;
  float: left;
  margin-top: 0;
  @media (min-width: $screen-sm-min) {
    margin-top: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
  flex-grow: 1;
  a {
    color: #fff;
    font-size: 60px;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: $font-base;
    text-transform: uppercase;
    padding: 0 15px;
  }
  // &:first-child {
  //   a {
  //     padding-left: 0;
  //   }
  // }
  // &:last-child {
  //   a {
  //     padding-right: 0;
  //   }
  // }

  .line {
    display: inline-block;
    width: 90%;
    height: 40px;
    border-bottom: 6px solid red;
    -webkit-transform: translateY(-20px) translateX(6px) rotate(-9deg);
    position: absolute;
  }

  &:hover, &.active {
  }
}

//MAIN
.logo {
  img {
    max-width: 100%;
  }
}

.video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  iframe {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.album {
  width: 350px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;

  iframe {
    height: 500px !important;
  }
}

.shows {
  max-width: 650px;
  margin: auto;

  iframe {
    @media (min-width: $screen-sm-min) {
      margin-top: 150px;
    }
  }
}
