//COLORS
$black-base: #010001;

//FONTS
@font-face {
  font-family: 'Concorde';
  src: url('../fonts/Concorde_Nova_BQ_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-base: 'Concorde';

//GENERAL
body {
  background: $black-base;
  font-family: $font-base;
}


.menu {
  width: 200px;
  float: left;
  margin-top: 30px;
  ul {
    list-style: none;
    padding-left: 0;
  }
  ul > li {
    margin-bottom: 15px;
  }
  ul > li > a, span {
    color: #fff;
    font-size: 18px;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: $font-base;
    text-transform: uppercase;
    padding: 7px 30px 5px;

    &:hover, &.active {
      background-color: #888888;
    }
  }
}

//MAIN
.hero {
  video {
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: 0;
    position: fixed;
  }
}

.album {
  width: 350px;
  position: fixed;
  left: 0;
  right: 0;
  top: 150px;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.shows {
  max-width: 650px;
  position: fixed;
  left: 0;
  right: 0;
  top: 150px;
  bottom: 0;
  margin: auto;
}
